body,h1,h2,input,div,p,ul,ol,li
  padding: 0
  margin: 0

body
  background-color: #f29206

.container
  width: 260px
  margin: 0 auto

.input
  font-size: 14px
  border: 1px solid #ddd
  border-left: 2px solid #f8b62b
  text-align: right
  padding-right: 18px
  box-sizing: border-box
  height: 40px
  width: 260px

.button
  width: 130px
  height: 45px
  border: 1px solid #fff
  margin: 0 auto
  margin-bottom: 15px

#login
  padding-top: 280px
  .input
    margin-bottom:15px
  .button
    display: block