orange=#fab44a
deeporange=#f39600
grey=#b6b6b6
light-grey=#ddd
green=rgb(218, 221, 80)
pink=#c70462

$icon
  width: 40px
  height: 40px
  top: 0px
  left: 0px
  position: absolute
  background-size: 40px 480px
  background-image: url("/img/icons.png")
  background-repeat: no-repeat

body,h1,h2,input,div,p,ul,ol,li,table,tr,td
  padding: 0
  margin: 0
  font-family: 'Hiragino Sans GB', sans-serif
  font-weight: normal

li
  list-style: none

body
  min-height: 400px
  width: 100%
  color: #fff
  background-color: orange
  background-image: linear-gradient(215deg,orange,deeporange)
  background-repeat: no-repeat
  &.openmenu
    position: fixed
    width: 100%

.blank
  position: fixed
  background-color: deeporange
  z-index: 10
  height: 100%
  width: 100%


.button,.input
  border-radius: 0
  -webkit-appearance: none

.input
  font-size: 14px
  border: none
  border-left: 2px solid orange
  text-align: right
  padding-right: 18px
  padding-left: 10px
  box-sizing: border-box
  height: 40px

.button
  width: 130px
  height: 45px
  border: 1px solid #fff
  margin: 0 auto
  margin-bottom: 15px
  background-color: rgb(250,180,74)
  border: 1px solid #fff
  color: #fff
  display: block
  font-size: 18px
  line-height: 45px
  text-align: center
.button[disabled]
  background-color: #bbb
.button:active
  background-color: pink


.swipe-container
  z-index: 20
  .swipe-inner
    background-image: linear-gradient(215deg,orange,deeporange)
  .button
    width: 120px
  .submit
    float: left
  .cancel
    float: right

.popselect
  position: fixed
  top: 20px
  background-color: rgba(0,0,0,0.8)
  width: 300px
  left: 50%
  margin-left: -150px
  .close
    background-image: url("../img/close-btn.png")
    position: absolute
    background-size: 19px 19px
    right: 2px
    top: 3px
    width: 32px
    height: 32px
    background-repeat: no-repeat
    background-position: 7px 6px
  .choices
    padding: 50px 14px 36px 14px
    clearfix()
    .item
      box-sizing: border-box
      background-color: #fff
      border: 1px solid #898989
      width: 50%
      height: 49px
      padding: 8px 0
      text-align: center
      font-size: 12px
      color: grey
      float: left
      &.active
        background-color: pink
        color: #fff
  .btn.submit
    height: 45px
    line-height: 45px
    text-align: center
    width: 135px
    margin: 0 auto 50px auto
    background-color: #898989
    color: #fff

#logo
  display: block
  position: absolute
  left: 50%
  top: 25px
  margin-left: -50px
  width: 100px

#login
  background-color: deeporange

#login-form
  padding-top: 200px
  .row
    position: relative
    margin-bottom: 10px
    .input
      width: 100%
      border: none
      border-left: 2px solid orange
    .icon
      @extend $icon
  .row-phone
    .icon
      left: 2px
      background-position: 0 -400px
    .pull-left
      margin-right: 75px
    .button
      position: absolute
      right: 0
      top: 0
      border: 0
      border-radius: 0
      width: 70px
      line-height: 40px
      height: 40px
      background-color: pink
      color: #fff
      &:disabled
        background-color: grey
        color: #fff
  .row-code
    .icon
      left: 2px
      background-position: 0 -440px


.menu
  width: 26px
  height: 26px
  position: absolute
  top: 15px
  left: 30px
  background-repeat: no-repeat
  background-size: 26px 26px
  background-image: url("../img/menu.png")


.add
  background-color: #FFF
  text-align: center
  height: 40px
  line-height: 40px
  color: green
  .icon-add
    display: inline-block
    background-image: url(./img/add.png)
    width: 18px
    height: 18px
    margin-right: 10px
    position: relative
    top: 2px

.aside
  width: 240px
  border-right: 1px solid #fff
  position: fixed
  top: 0
  left: 0
  height: 100%
  z-index: 10
  background-image: linear-gradient(215deg,orange,deeporange)
  padding-top: 70px
  transform: translateX(-241px)
  transition: all .4s linear
  .h2
    font-size: 20px
    text-align: center
    margin-bottom: 5px
  .credit
    text-align: center
    font-size: 16px
    margin-bottom: 30px
  .menus
    margin-bottom: 40px
  .button
    text-decoration: none
  .item
    position: relative
    a
      display: block
      color: orange
      background-color: #fff
      text-align: left
      padding-left: 60px
      line-height: 40px
      border-bottom: 1px solid orange
      text-decoration: none
  .icon
    @extend $icon
    left: 10px
    &.icon-order
      background-position: 0 -200px
    &.icon-info
      background-position: 0 -240px
    &.icon-recharge
      background-position: 0 -280px
    &.icon-help
      background-position: 0 -320px

.openmenu .aside
  transform: translateX(0)

.overlay
  display: none
  opacity: 0
  transition: all .2s linear
  position: fixed
  height: 100%
  width: 100%
  z-index: 5
  background-color: #000

.openmenu .overlay
  display: block
  opacity: 0.6


.loading
  position: absolute
  top: 30px
  left: 60px
  display: none
  .spin
    background-image: url("./img/loading.png")
    width: 40px
    height: 40px
    background-size: 40px 320px
    background-position: 0 0

.photo-list
  .loading
    display: block
    position: static
    .spin
      margin: 0 auto

.finish_photos
  img
    width: 100%

.add-photo
  clearfix()
  width: 100%
  background-color: #fff
  position: relative
  margin-bottom: 22px
  .area
    background-color: #fff
    float: left
    color: #d3d3d3
    height: 105px
    padding-right: 105px
    width: 100%
    box-sizing: border-box
    text-align: center
    .text
      .title
        padding-top: 30px
        font-size: 18px
        margin-bottom: 6px
      .desc
        font-size: 12px
  .camera
    float: right
    position: absolute
    right: 0
    img
      display: block
      height: 105px
      width: auto

.container
  width: 82%
  margin: 0 auto

#home
  >.container>.title
    padding-top:10px
    height: 40px
    line-height: 40px
    text-align: center
    font-size: 20px
  .go-wash-section
    padding-bottom: 15px
    .button
      margin-bottom: 0
  .section
    h2
      padding: 15px 0
      text-align: center
      font-size: 16px
    .cars
      .active
        color: #fff
        background-color: pink
      .selected-cars
        clearfix()
        border-collapse:collapse
        border-bottom: 1px solid orange
        width: 100%
        position: relative
        .arrow-cell
          width: 60px
        .arrow
          position: relative
          float: right
          width: 100%
          height: 100%
          .icon
            position: absolute
            margin-top: -9px
            top: 50%
            left: 24px
            width: 10px
            height: 18px
            background-image: url("../img/arrow.png")
        ul
          width: 100%
          border-right: 1px solid #ccc
          float: left
        td
          padding: 4px 0
          border: 0
          background-color: #fff
        li
          clearfix()
          background-color: #fff
          color: #ccc
          border-bottom: 1px solid #ccc
          &:last-child
            border-bottom: none
          .detail
            text-align: left
            height: 48px
            padding: 5px 5px 5px 15px
            max-width: 180px
            overflow: ellipsis
            .type,.number
              font-size: 14px
              margin-right: 10px
  .services
    .active
      color: #fff
      background-color: pink
    li
      clearfix()
      position: relative
      margin-bottom: 1px
      padding: 5px 15px
      background-color: #fff
      color: grey
      .detail
        float: left
        width: 150px
        .title
          font-size: 14px
          padding: 4px 0 0 0
        .desc
          font-size: 12px
      .price
        float: right
        padding-right: 32px
        line-height: 42px
        height: 42px
      .arrow
        background-image: url("../img/arrow-right.png")
        width: 10px
        height: 18px
        position: absolute
        right: 20px
        top: 15px
        background-size: 10px 18px
        background-repeat: no-repeat
      .promo
        border-left: 1px solid grey
        padding-left: 12px
        float: right
        text-align: center
        .text
          padding-top: 5px
          font-size: 12px
        .count
          height: 19px
  // 优惠券
  .section.promo
    height: 35px
    line-height: 35px
    padding: 5px 15px
    background-color: #ccc
    margin-bottom:1px
    .count
      float: right
      color: pink
      .num
        position: relative
        width: 50px
        height: 25px
        border: 1px solid pink
        top: 3px
        display: inline-block
        margin-right: 5px
        background-color: #fff
        background-color: #fff
        .text
          text-align: center
          position: relative
          top: -4px
          left: 0px
        select
          border: 0
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          opacity: 0
  // 积分
  .section.credit
    @extend #home .section.promo
    .use
      float: right
      width: 100px
      .icon
        background-image: url("../img/checkbox.png")
        width: 26px
        height: 27px
        display: block
        float: right
        margin-right: 8px
        position: relative
        top: 3px
      .text
        float: right
        color: pink
      &.active
        .icon
          background-position: 0 -27px
  // 支付
  .payment
    margin-top: 8px
    padding: 3px
    background-color: rgb(218,222,61)
    .inner
      padding-top: 8px
      border: 1px solid #fff
      text-align: center
      .num
        font-size: 30px
        line-height: 1
        padding: 8px
  // 地址
  .address
    margin-bottom: 17px
    .location
      position: relative
      margin-bottom: 1px
      .icon
        @extend $icon
        background-position: 0 -160px
    .input
      border: none
      width: 100%
    .note
      margin-top: 5px
      text-align: center
      font-size: 10px

.service-select .choices
  .inner
    overflow: auto
  .item
    @extend #home .services li
    width: auto
    height: auto
    float: none
    border: none
    .price
      font-size: 14px
      padding-right: 12px
    .haspromo
      float: right
      margin-right: 7px
      margin-top: -7px

.autocomplete
  z-index: 9
  width: 100%
  background: #fff
  box-sizing: border-box
  li
    border-bottom: 1px solid #eee
    margin: 0 10px
    color: #ccc
    font-size: 14px
    height: 25px
    line-height: 25px
    padding: 7px 0 7px 30px
    overflow: hidden
  .packup
    border-bottom: 0
    height: 26px
    line-height: 26px
    color: #f8a23d
  .small
    margin-left: 10px
    color: #ccc
    font-size: 12px

#addcar
  padding-bottom: 10px
  .h2
    font-size: 18px
    text-align: center
    padding: 20px 0
  .row
    position: relative
    margin-bottom: 10px
    .input
      width: 100%
      color: #bbb
      padding-left: 40px
    .icon
      @extend $icon
    &.number .icon
      background-position: 0 -40px
    &.color .icon
      background-position: 0 -80px
    &.comment .icon
      background-position: 0 -120px
  .button
    margin-top: 15px
    width: 120px


#preorder
  .h2
    font-size: 18px
    text-align: center
    padding: 15px 0
  .order
    padding: 2px
    background-color: #fff
    color: #b6b6b6
    overflow: ellipsis
    .inner
      border:2px solid orange
      padding: 14px
      .row
        clearfix()
        .label
          text-align: right
          line-height: 23px
          min-height: 23px
          width: 60px
          float: left
        .text
          width: 120px
          line-height: 23px
          float: left
  .estimate
    .time
      text-align: center
      font-size: 28px
      line-height: 1.5
      margin-bottom: 10px
    .text
      font-size: 10px
      text-align: center

#myorders
  .h1
    font-size: 20px
    text-align: center
    margin: 50px auto 10px auto
  .section
    margin: 0 30px
    font-size: 14px
    text-align: center
    background-color: #fff
    color: grey
    .h2
      font-size: 14px
      line-height: 40px
      color: #fff
      background-color: rgb(202,202,202)
    li
      padding: 15px 0
      clearfix()
    .details
      float: left
    .control
      float: right
      padding: 0 30px
      margin: 25px auto 0 auto
      .text
        font-size: 12px
      .time
        color: orange
        font-size: 18px
        height: 27px
        max-width: 70px
      .cancel
        height: 14px
        font-size: 12px
        line-height: 15px
        width: 50px
        text-align: center
        margin: 5px auto
        color: #fff
        background-color: rgb(250,180,74)
        padding: 3px
      .view-result
        color: #fff
        padding: 5px
        background-color: rgb(203,0,96)
    &.done .h2
      background-color: rgb(217,221,74)
    .empty
      padding: 10px
    .row
      clearfix()
      font-size: 12px
      .label
        width: 50px
        float: left
        line-height: 2
        text-align: right
      .text
        float: left
        width: 80px
        text-align: left
        line-height: 2


#myinfos
  .h1
    font-size: 20px
    text-align: center
    margin: 30px auto 10px auto
  .add
    position: relative
    left: -14px
    padding: 5px 0
  .promos,.account
    padding-bottom: 10px
  .section
    background-color: #fff
    padding: 0 30px
    margin-bottom: 25px
    .h2
      color: orange
      text-align: center
      font-size: 18px
      padding: 10px 0
    .row
      clearfix()
      border-bottom: 1px solid orange
      color: grey
      font-size: 14px
      line-height: 36px
      padding: 4px
      &:first-child
        border-top: 1px solid orange
      .label
        float: left
        border-right: 1px solid light-grey
        width: 74px
        text-align: center
      .text
        float: left
        padding-left: 23px
        width: 150px
        overflow: hidden
        .title
          line-height: 1
          font-size: 15px
          margin-top: 5px
          margin-bottom: 3px
        .desc
          line-height: 1
          font-size: 12px
      .edit
        float: right
        border-left: 1px solid light-grey
        color: green
        padding: 0 20px
    .promos
      li:first-child
        border-top: 1px solid orange
      li
        padding: 5px
        border-bottom: 1px solid orange
        color: grey
  .addaddress-panel
    background-color: rgb(240, 240, 240)
    .title
      text-align: center
      font-size: 19px
      padding: 14px 0 11px 0
    .input-row
      position: relative
    .icon-location
      @extend $icon
      background-position: 0 -160px
    .input
      width: 100%
      border: 1px solid rgb(240, 240, 240)
      border-left: 2px solid orange
    .button-wrap
      padding-top: 40px
      padding-bottom: 33px


#order
  background-image: none
  background-color: #fff
  padding-top: 20px
  .pic
    margin: 0 20px 10px
    padding: 5px
    img
      width: 100%
      margin: 0 auto
  .user-photos
    h3
      color: #999
      font-size: 14px
  .order
    padding: 2px
    background-color: orange
    color: #fff
    margin: 0 30px
    .inner
      border:2px solid #fff
      padding: 14px
      p
        overflow: ellipsis
      .row
        clearfix()
        .label
          text-align: right
          line-height: 23px
          width: 60px
          float: left
        .text
          width: 160px
          line-height: 23px
          float: left
  .remain
    color: orange
    text-align: center
    margin: 35px 30px 50px 30px
    .head
      font-size: 18px
    .time
      font-size: 32px
    .message
      font-size: 10px
  .swipe-inner
    background-color: #fff
    background-image: none

#order-result
  .title
    @extend #home >.container>.title
  .order
    background-color: #fff
    color: grey
    .inner
      .row
        font-size: 14px
        border-bottom: 1px solid light-grey
        padding: 5px 0
        clearfix()
        .label
          padding-left: 20px
          padding-right: 23px
          text-align: right
          line-height: 23px
          float: left
        .text
          border-left: 1px solid light-grey
          padding-left: 30px
          width: 120px
          line-height: 23px
          float: left
  .pic
    background-color: #fff
    padding: 5px
    margin-bottom: 7px
    img
      width: 100%
      display: block


#finishorder
  .h2
    color: #999
    font-size: 18px
    padding: 12px 0
    text-align: center

.breakages
  clearfix()
  margin-left: -10px
  position: relative
  left: 10px
.breakage
  color: orange
  float: left
  width: 42px
  height: 30px
  margin-right: 10px
  margin-bottom: 10px
  border: 1px solid orange
  &.active
    background-color: orange
    path,ellipse
      fill: white
      stroke: white

#order-result
  .breakage
    border: 1px solid white
    path,ellipse
      stroke: white
    svg
      position: relative
      top: -1px
      left: -1px
    &.active
      background-color: pink
      border: 1px solid pink
      path,ellipse
        fill: white

#recharge,#promos
  .h1
    font-size: 20px
    text-align: center
    margin: 50px auto 10px auto
  .choices
    margin: 0 30px 30px 30px
    .row
      text-align: center
      color: grey
      margin-bottom: 1px
      background-color: #fff
      padding: 10px 0
      &.active
        color: #fff
        background-color: pink
      .price
        font-size: 16px
      .promo
        padding: 0 15px
        font-size: 12px
        text-align: center

#contact
  .title
    padding-top:10px
    height: 40px
    line-height: 40px
    text-align: center
    font-size: 20px
  .texts
    font-size: 15px
    width: 82%
    margin: 23px auto 30px auto
  .map
    width: 100%
    margin: 0 auto 45px auto
    img
      width: 100%
      display: block
  .button-wrap
    padding-bottom: 40px
    a
      text-decoration: none