body,h1,h2,input,div,p,ul,ol,li
  padding: 0
  margin: 0
  font-family: 'Hiragino Sans GB', sans-serif
  font-weight: normal

li
  list-style: none

body
  color: #fff
  background-color: #f29206

.swipe-container .swipe-inner
  background-color: rgb(248,162,61)

.container
  width: 260px
  margin: 0 auto

.input
  font-size: 14px
  border: 1px solid #ddd
  border-left: 2px solid #f8b62b
  text-align: right
  padding-right: 18px
  box-sizing: border-box
  height: 40px
  width: 260px

.button
  width: 130px
  height: 45px
  border: 1px solid #fff
  margin: 0 auto
  margin-bottom: 15px
  background-color: rgb(250,180,74)
  border: 1px solid #fff
  color: #fff
  display: block
  font-size: 18px
  line-height: 45px
  text-align: center
.button[disabled]
  background-color: #bbb

#login
  padding-top: 280px
  .input
    margin-bottom:15px

#home
  background-color: rgb(250,174,69)
  .title
    padding-top:10px
    height: 40px
    line-height: 40px
    text-align: center
    font-size: 20px
  .section
    h2
      padding: 15px 0
      text-align: center
      font-size: 16px
    .cars
      .active
        background-color: #c70462
      li
        clearfix()
        background-color: #fff
        color: #ccc
        height: 48px
        border-bottom: 1px solid #faae45
        .index
          margin: 5px 0
          line-height: 38px
          text-align: center
          width: 72px
          float: left
          border-right: 1px solid #e4e4e5
        .detail
          margin: 8px 0 4px 0
          padding-left: 20px
          float: left
          .type,.number
            height: 18px
            line-height: 18px
            font-size: 14px


      .add
        background-color: #FFF
        text-align: center
        height: 40px
        line-height: 40px
        color: rgb(218, 221, 80)
        .icon-add
          display: inline-block
          background-image: url(./img/add.png)
          width: 18px
          height: 18px
          margin-right: 10px
          position: relative
          top: 2px

#addcar
  .h2
    font-size: 18px
    text-align: center
    padding: 20px 0
  .add-photo
    clearfix()
    width: 100%
    background-color: #fff
    position: relative
    margin-bottom: 22px
    .text
      background-color: #fff
      float: left
      color: #d3d3d3
      height: 105px
      padding-right: 105px
      width: 100%
      box-sizing: border-box
      text-align: center
      padding-top: 10px
      .title
        font-size: 18px
      .desc
        font-size: 12px
    .camera
      float: right
      position: absolute
      right: 0
      img
        display: block
  .row
    position: relative
    margin-bottom: 10px
    .input
      color: #bbb
      padding-left: 40px
    .icon
      width: 29px
      height: 29px
      top: 7px
      left: 7px
      position: absolute
      background-image: url("/img/icons.png")
      background-repeat: no-repeat
    &.number .icon
      background-position: 0 -29px
    &.color .icon
      background-position: 0 -58px
    &.comment .icon
      background-position: 0 -87px
    .autocomplete
      position: absolute
      top: 41px
      z-index: 9
      width: 100%
      background: #fff
      border-left: 2px solid #f8b62b
      box-sizing: border-box
      li
        border-bottom: 1px solid #eee
        margin: 0 10px
        color: #ccc
        font-size: 14px
        height: 25px
        line-height: 25px
        padding-left: 30px
      .packup
        border-bottom: 0
        height: 26px
        line-height: 26px
        color: #f8a23d
  .button
    margin-top: 15px