include ./mixins
#addcar.container
  h2.h2 我的车辆信息
  ul.upload-list
  +upload
  .row.type
    input.input(placeholder="车型",data-pattern="/api/v1/cartypes/{q}")
    i.icon
  .row.number
    input.input.number(placeholder="号牌")
    i.icon
  .row.color
    input.input(placeholder="颜色")
    i.icon
  .row.comment
    input.input(placeholder="备注")
    i.icon
  .row
    input.button.submit(type="button",value="提交")
    input.button.cancel(type="button",value="取消")