#addcar.container
  h2.h2 我的车辆信息
  ul.upload-list
  .add-photo
    .text
      .title 照片上传
      .desc 含号牌的车辆照片
    .camera
      img(src="/img/upload.png")
  .row.type
    input.input(placeholder="车型",data-pattern="/api/v1/cartypes?q={q}")
    i.icon
  .row.number
    input.input.number(placeholder="号牌")
    i.icon
  .row.color
    input.input(placeholder="颜色")
    i.icon
  .row.comment
    input.input(placeholder="备注")
    i.icon
  .row
    input.button(type="button",value="提交")