#addcar.container
  h2.h2 我的车辆信息
  .add-photo
    .text
      .title 照片上传
      .desc 含号牌的车辆照片
    .camera
      img(src="/img/upload.png")
  input.input.type(placeholder="车型")
  input.input.number(placeholder="号牌")
  input.input.color(placeholder="颜色")
  input.input.comment(placeholder="备注")
  input.button(type="button",value="提交")