include ./mixins
#finishorder.container
  h2.h2 洗车已完成
  ul.photo-list.finish_photos
  +upload
  h2.h2 车损部位
  include ../../jade/breakages
  ul.photo-list.breakage_photos
  +upload
  input.button.submit(type="button",value="完成")
  input.button.cancel(type="button",value="取消")