#preorder.container
  h2.h2 提交订单
  .order
    .inner
      .row
        .label 手机：
        .text @{it.phone}
      | <?js it.cars.forEach(function(car,index){ ?>
      .row
        .label <?js if(index == 0){ ?>车型：<?js }else{ ?>   <?js } ?>
        .text
          p @{car.type}
          p @{car.number}
      | <?js }); ?>
      .row
        .label 地址：
        .text @{it.address} @{it.carpark}
      .row
        .label 服务：
        .text @{it.service.title}

  h2.h2 预估时间
  .estimate
    .time @{it.time}
    .text
      p 我们将在预估时间内完成洗车，预估时间以付款后为准
      p 您也可在我们达到前随时取消订单

  h2.h2 应付金额
    .price ￥@{it.price}

  .row
    input.button.submit(type="button",value="提交")
    input.button.cancel(type="button",value="取消")