doctype html
html
  head
    title= title || sitename
    script(src="neurons/neuron/7.0.0/neuron.js")
    script(src="neurons/config.js")
    script.
        neuron.config({
            path:"/neurons"
        })
    link(href="neurons/ccmeiche/0.1.0/css/app.css", rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-capable", content="yes")
  body
    block content