.menu

.aside
  if user
    h2.h2 手机 #{user.phone}
    .credit 积分：#{user.credit || 0}
  ul.menus
    li.item
      a(href="/myorders") 我的订单
      i.icon.icon-orders
    li.item
      a(href="/myinfos") 我的车库
      i.icon.icon-info
    li.item
      a(href="/wechat/recharge?showwxpaytitle=1") 充值
      i.icon.icon-recharge
    li.item
      a(href="/help") 帮助
      i.icon.icon-help
  if user
    a.button(href="/logout") 退出登录

.overlay