extends blank-layout

block content
  style.
    .selected td{
      background-color: #18a689 !important;
      color: #fff !important
    }
    .selected td a{
      color: #fff !important
    }
  #wrapper
    nav.navbar-default.navbar-static-side(role='navigation')
      .sidebar-collapse
        ul#side-menu.nav
          li.nav-header
            .dropdown.profile-element
              span
                img.img-circle(alt='image', src='img/profile_small.jpg')
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                span.clear
                  span.block.m-t-xs
                    strong.font-bold #{user.username}
                  a.text-muted.text-xs.block(href="/logout") 登出
            .logo-element
              | IN+
          li(class=[title=="车工管理"?"active":""])
            a(href='/worker')
              i.fa.fa-group
              span.nav-label 车工
          li(class=[title=="用户查询"?"active":""])
            a(href='/user')
              i.fa.fa-child
              span.nav-label 用户
          li(class=[title=="订单查询"?"active":""])
            a(href='/order')
              i.fa.fa-cny
              span.nav-label 订单
          li(class=[title=="优惠券二维码"?"active":""])
            a(href='/promo-qrcode')
              i.fa.fa-qrcode
              span.nav-label 优惠券二维码
    #page-wrapper.gray-bg.dashbard-1
      .row.wrapper.border-bottom.white-bg.page-heading
        .col-lg-10
          h2= title
      .row
        .col-lg-12
          .ibox.float-e-margins
            .ibox-title
            .ibox-content
              block main
