extends layout

block main
  table#order-table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th 服务
        th 客户微信用户名
        th 车工姓名
        th 车辆
        th 车辆位置
        th 下单时间
        th 在途耗时
        th 洗车耗时
        th 状态
block scripts
  script(src="js/plugins/dataTables/jquery.dataTables.js")
  script(src="js/plugins/dataTables/dataTables.bootstrap.js")
  script.
      $(document).ready(function() {
        var table = $('#order-table').DataTable({
          "processing": true,
          "ajax": "/api/order",
          "columns": [
            {
              "data": "service.title"
            },
            {
              "data": null,
              render: function(data){
                return (data.user && data.user.wechat_info && data.user.wechat_info.name)
                  ? data.user.wechat_info.name : '--';
              }
            },
            {
              "data": null,
              render: function(data){
                return (data.worker && data.worker.wechat_info && data.worker.wechat_info.name)
                  ? data.worker.name : '--';
              }
            },
            {
              "data": null,
              render: function(data){
                return data.cars.map(function(car){
                  return car.type + car.number
                }).join(",")
              }
            },
            {
              "data": "address"
            },
            {
              "data": null,
              render: function(data){
                return data.order_time
                  ? moment(data.order_time).format('YYYY-MM-DD hh:mm:ss')
                  : "--";
              }
            },
            {
              "data": null,
              render: function(data){
                var ms = (data.arrive_time ? new Date(data.arrive_time) : new Date()) - new Date(data.order_time);
                var d = moment.duration(ms);
                return ms ? (d.minutes() + "分钟" + d.seconds() + "秒") : "--";
              }
            },
            {
              "data": null,
              render: function(data){
                var ms = (data.finish_time ? new Date(data.finish_time) : new Date()) - new Date(data.arrive_time);
                var d = moment.duration(ms);
                return ms ? (d.minutes() + "分钟" + d.seconds() + "秒") : "--";
              }
            },
            {
              "data": null,
              render: function(data){
                return data.status;
              }
            }
          ]
        });
      });


