extends layout

block main
  div
    a.btn.btn-primary#button-clear(style="margin-right:10px") 清空
    a.btn.btn-primary#button-report(style="margin-right:10px") 当月报表
  table#order-table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th 服务
        th 客户微信用户名
        th 车工姓名
        th 车辆
        th 车辆位置
        td 预付时间
        th 下单时间
        th 在途耗时
        th 洗车耗时
        th 状态
        th(style="50px") 操作
block scripts
  script(src="js/plugins/dataTables/jquery.dataTables.js")
  script(src="js/plugins/dataTables/dataTables.bootstrap.js")
  script.
      $(document).ready(function() {

        var table = $('#order-table').DataTable({
          "processing": true,
          "order": [[ 6, "desc" ]],
          "ajax": "/api/order" + location.search,
          "columns": [
            {
              "data": null,
              render: function(data){
                return (data.service && data.service.title) ? data.service.title : "--";
              }
            },
            {
              "data": null,
              render: function(data){
                return data.user_name || '--';
              }
            },
            {
              "data": null,
              render: function(data){
                return data.worker_name || '--';
              }
            },
            {
              "data": null,
              render: function(data){
                return data.cars ? data.cars.map(function(car){
                  return car.type + car.number
                }).join(",") : "--";
              }
            },
            {
              "data": null,
              "render": function(data){
                return data.address || "--";
              }
            },
            {
              "data": null,
              render: function(data){
                return data.preorder_time
                  ? moment(data.preorder_time).format('YYYY-MM-DD HH:mm:ss')
                  : "--";
              }
            },
            {
              "data": null,
              render: function(data){
                return data.order_time
                  ? moment(data.order_time).format('YYYY-MM-DD HH:mm:ss')
                  : "--";
              }
            },
            {
              "data": null,
              render: function(data){
                var end_time = data.status == "cancel" 
                  ? new Date(data.cancel_time) 
                  : data.arrive_time ? new Date(data.arrive_time) : new Date();
                var ms = end_time - new Date(data.order_time);
                var d = moment.duration(ms);
                return ms ? (d.minutes() + "分钟" + d.seconds() + "秒") : "--";
              }
            },
            {
              "data": null,
              render: function(data){
                var ms = (data.finish_time ? new Date(data.finish_time) : new Date()) - new Date(data.arrive_time);
                var d = moment.duration(ms);
                return ms ? (d.minutes() + "分钟" + d.seconds() + "秒") : "--";
              }
            },
            {
              "data": null,
              render: function(data){
                var status = data.status;
                if(status == "cancel"){
                  status = status + ":" + data.cancel_reason
                }
                return status || "--";
              }
            },
            {
              "data": null,
              render: function(data){
                if(data.status !== "cancel"){
                  return "<a class='cancel' href='javascript:;'>取消</a>";
                }else{
                  return "--";
                }
              }
            }
          ]
        });


        $('#order-table').on('click', '.cancel', function(){
          var tr = $(this).closest('tr');
          var row = table.row(tr);
          var data = row.data();
          var _id = data._id;
          var sure = confirm("确定要取消该订单么");
          if(sure){
            $.post("/api/order/cancel", {
              id: _id
            }, function(){
              tr.remove();
            });
          }
        });
      });

      $("#button-clear").click(function(e){
        e.preventDefault();
        var sure = confirm("确定要清空数据么");
        if(sure){
          $.post("/api/order/clear").done(function(){
            location.reload();
          });
        }
      });

      $("#button-report").click(function(e){
        var today = new Date();
        e.preventDefault();
        window.open("/api/monthlyreport/" + today.getFullYear() + "/" + (today.getMonth() + 1) );
      });

