extends layout

block main
  table#user-table.table.table-striped.table-bordered.table-hover
    thead
      tr
        th 微信用户名
        th 手机号
        th 总单数
        th 总支付金额
        th 订单列表
block scripts
  script(src="js/plugins/dataTables/jquery.dataTables.js")
  script(src="js/plugins/dataTables/dataTables.bootstrap.js")
  script.
      $(document).ready(function() {
        var table = $('#user-table').DataTable({
          "processing": true,
          "ajax": "/api/user",
          "columns": [
            {
              data: null,
              "render": function(data){
                return (data.wechat_info && data.wechat_info.name) ? data.wechat_info.name : "--"
              }
            },
            { "data": "phone"},
            {
              data: null,
              "render": function(data){
                return data.order_count || "--";
              }
            },
            {
              data: null,
              "render": function(data){
                return data.order_price_count || "--"
              }
            },
            {
              data: null,
              "render":function(data){
                return "<a target='_blank' href='/order?user=" + data._id + "' >点击查看</a>"
              }
            }
          ]
        });
      });


